version: '3'
services:
 mysql:
  image: mysql:5.7
  container_name: "mysql"
  environment:
   MYSQL_DATABASE: 'mrm'
   MYSQL_USER: 'dev'
   MYSQL_PASSWORD: 'dev'
   MYSQL_ROOT_PASSWORD: 'root'
  ports:
   - "3306:3306"
  volumes:
   - mysql_volume:/var/lib/mysql
volumes:
 mysql_volume: